<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{css('styles')}}
  {{css('jumbotron.css')}}

  @!section('before-scripts')
    @include('partials.common-scripts.edge')
  @!section('after-scripts')

</head>

<body>
@!section('before-nav')
  @include('partials.nav.edge')
@!section('after-nav')

@!section('before-main')
<main id="main-content" role="main">

  <div class="container">
    @!section('main')
  </div>

</main>

@!section('after-main')

@!section('before-footer')
<footer class="container">
  @include('partials.footer.edge')
</footer>
@!section('after-footer')

</body>
</html>
