<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>Hello Adonis</title>

  {{ css('styles')}}
  {{ css('jumbotron')}}
    @!section('before-scripts')
        @include('partials.common-scripts')
    @!section('after-scripts')

</head>
<body>

    @!section('before-nav')

        @include('partials.nav')


    @section('after-nav')
      <b:if cond='data:blog.pageType == &quot;item&quot;'>
        <span style='font-size: 15px;font-weight:bold;'>Share : </span>
        <p align='center'>
        <div class='fb-like' data-action='like' data-layout='button_count' data-share='true' data-show-faces='false'/>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count-value="horizontal">Tweet</a>
        <script src='http://platform.twitter.com/widgets.js' type="text/javascript"></script>
        </p>
      </b:if>
      <div class="a2a_kit a2a_default_style">
        <a class="a2a_button_linkedin_share"></a>
      </div>

      <script async src="https://static.addtoany.com/menu/page.js"></script>
    @endsection

    @!section('before-main')

        <main id="main-content" role="main" class="container">
            <div class="container">
        @!section('main')
            </div>
        </main>

    @!section('after-main')

    @!section('before-footer')

    <footer class="container">
        @include('partials.footer')
    </footer>

    @!section('after-footer')

</body>
</html>
